extends layout

block content  

 p 
  form(action='/books/search' class='form')
    input#query(type='search' name='q' placeholder='Search...')
    a.button Search


  h1 List of Books
  p
    a.button(href='/books/createbook') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td 
            a(href='/books/'+ book.id) #{book.title}
          td= book.author
          td= book.genre
          td= book.year

  //- div.page-list 
  //-   for (let i = 1; i <= numberofPages; i++){
  //-     a.page-number(href="/books?page=" + i)= #{i}
  //-   }